.margin {
    margin-left: 80px;
    margin-bottom: 5px;
}
.margin1 {
    margin-left: 165px;
    margin-bottom: 5px;
}
.margin2 {
    margin-left: 173px;
}
.margin3 {
    margin-left: -7px;
    margin-top: 5px;
}
.margin4 {
    margin-left: -170px;
    margin-top: 5px;
}
.margin5 {
    margin-left: -142px;
    margin-top: 5px;
}
.margin6 {
    margin-top: 5px;
}
.margin7 {
    margin-left: -37px;
    margin-top: 5px;
}
.margin8 {
    margin-left: 78px;
}